name: CI

on:
    pull_request:
        branches: 
            - '*'

    workflow_dispatch:

jobs:
    test-n-build:
        runs-on: ubuntu-22.04

        steps:
            - uses: actions/checkout@v3

            - name: Set up Go
              uses: actions/setup-go@v3
              with:
                  go-version: "1.20"

            - name: Install dependencies
              run: go mod download

            - name: Test
              run: go test .

            - name: Build
              run: go build .
